<div class="absolute">
    <img alt="" aria-hidden="true" data-uia="nmhp-card-hero+background+image" src="https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/e715d3b8-e4dc-4718-9d5e-ebbe1fc5d87a/BG-en-20231218-popsignuptwoweeks-perspective_alpha_website_small.jpg" srcset="https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/e715d3b8-e4dc-4718-9d5e-ebbe1fc5d87a/BG-en-20231218-popsignuptwoweeks-perspective_alpha_website_small.jpg 1000w, https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/e715d3b8-e4dc-4718-9d5e-ebbe1fc5d87a/BG-en-20231218-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w, https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/e715d3b8-e4dc-4718-9d5e-ebbe1fc5d87a/BG-en-20231218-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w" class="default-ltr-cache-ve3cf8 e13sg9vu0">
</div>

<div class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80">
    <h1 class="font-bold text-3xl py-4">Sign In</h1>
    <asl-google-signin-button shape="pill" theme="outline" type="standard" size="large"></asl-google-signin-button>
</div>